<%- include("header") -%>



<nav class="navbar navbar-dark ">
  <div class="animate-this ml-auto">
    <a href="/">
      <button class="navbar-toggler " type="button">
        <span class="navbar-toggler-icon "></span>
      </button>
    </a>
  </div>
</nav>
<div class="content">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item ">
      <a class="btn-11 content-item" href="/#myintro">HOME </a>
    </li>
    <li class="nav-item ">
      <a class="btn-11 content-item" href="/#myskills">SKILLS </a>
    </li>
    <li class="nav-item ">
      <a class="btn-11 content-item" href="/#myprojects">PROJECTS</a>
    </li>
    <li class="nav-item ">
      <a class="btn-11 content-item" href="/#myabout">ABOUT </a>
    </li>
    <li class="nav-item ">
      <a class="btn-11 content-item" href="/#mycontact">CONTACT </a>
    </li>
  </ul>
</div>



<%- include("footer") -%>
