<%- include("header") -%>
<div id="myintro">
  <div id="box1">

  </div>
  <div id="box2">
    <div id="text" class="intro">
      <h2 class>Hey!! I am Manish <br> A pre-final year <br> Computer Science Student.</h2>
    </div>
  </div>

  <div id="box3">
    <div id="container">

      <nav class="navbar navbar-dark ">
        <a class="navbar-brand" href="/">Tm</a>
        <div class="animate-this ml-auto">
          <a href="/contents">
            <button class="navbar-toggler " type="button">
              <span class="navbar-toggler-icon "></span>
            </button>
          </a>
        </div>
      </nav>



    </div>
  </div>
</div>


<div class="skills" id="myskills">
  <div class="container">
    <div class="row">
      <div class="col skill-sphere">
        <div id="tag-cloud"></div>
        <div id="tag-cloud2"></div>

        <canvas id="container" width="640" height="480"></canvas>
      </div>
      <div class="col">
        <div class="myskills">
          <h3>&lt;skills&gt;</h3><br>
          <p>
            I am Proficient in python programming language and on the way to become proficient in web devlopment which includes
            HTML5, CSS3, javascript, nodejs and noSQL.
          </p><br>
          <h3>&lt;/skills&gt;</h3>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="myprojects" id="myprojects">
  <h3>&lt;projects&gt;</h3><br>
  <div class="projects">
    <h4>Student Attendence System using face-recognition</h4>
    <p>A face recognition-based attendance monitoring system developed with the aid of OpenCV, Tkinter and Local Binary Pattern Histogram(LBPH) algorithm. </p>
    <a href="https://github.com/Thapamanish/Student-attendence-uisng-AI-face-recognition" target="_blank">
      MORE DETAILS
    </a>
  </div><br>
  <div class="projects">
    <h4>My Portfolio Website</h4>
    <p>A high-performance, Responsive website that uses the power of HTML5, CSS3, javascript, nodejs, creative SVG
      & ScrollMagic powered animations for enriching user experience. </p>
    <a href="https://github.com/Thapamanish/myPortfolio " target="_blank">
      MORE DETAILS
    </a>
  </div>
  <br>
  <h3>&lt;/projects&gt;</h3>
</div>


<div class="container" id="myabout">
  <div class="row">
    <div class="col">
      <div class="aboutme">
        <h3>&lt;about&gt;</h3><br>
        <div class="about">
          <p>
            I am a pre-final year undergraduate student currently pursing the degree from Dr. Ambedkar Institute of Technology, Bangalore in
            computer science field. My area of interest are web-devlopment, either through handcode or throug frameworks, and competitve coding to keep
            my problem solving skills contemporary.<br><br>
            <span>In a quest for always keeping myself updated, I read books and attend conferences & meetups.</span>
          </p>

        </div>
          <a class="btn-11" href="/Manish Thapa Resume_V4.pdf">Resume</a><br>

        <h3>&lt;/about&gt;</h3>
      </div>

    </div>
    <div class="col">
      <div class="mylogo">
        <a href="" target="_blank"><img src="/developer.png" alt="Manish Thapa" /></a>
        <div class="logo-label">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 300" aria-hidden="true">
            <defs>
              <path id="a" d="M90 150a60 60 0 01120 0 60 60 0 01-120 0" />
            </defs>
            <text>
              <textPath xlink:href="#a">Manish Thapa &nbsp&bull; Third Year Computer Science Student &bull; </textPath>
            </text>
          </svg>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="contactme" id = "mycontact">
  <h3 class="content-top">&lt;contact&gt;</h3>
  <span class="mailme"> Feel free to send an e-mail on <a href="mailto:iammanish041@gmail.com">iammanish041@gmail.com</a></span>
  <div class="wrapper centered">


    <form class="letter">
      <div class="side">
        <span class="another-email">Alternatively, you can also drop-in a mail here!</span><br>
        <p>
          <textarea id="message" placeholder="Your message"></textarea>
        </p>
      </div>
      <div class="side">
        <p>
          <input id="name" name="name" type="text" placeholder="Your name">
        </p>
        <p>
          <input id="email" type="email" placeholder="Your email">
        </p>
        <p>
          <button id="sendLetter" type="submit">Send</button>
        </p>
      </div>
    </form>
    <div class="envelope front"></div>
    <div class="envelope back"></div>

  </div>


  <p class="result-message">Thank you for your message</p>
  <div class="contact-problem">
    <div class="copyright">© 2021, All rights reserved.</div>
    <div>
      <h3>&lt;/contact&gt;</h3>
    </div>

  </div>
</div>






<!-- <div class="load-container">
  <div class="loading-screen"></div>
</div>

<main data-barba="container" data-barba-namespace="home-section">
  <div id="main"> -->



<!-- </main> -->
<%- include("footer") -%>
